<div class="comments">
	<% comments.each do |comment| %>
	  <% unless comment.id.nil? %>
	    <p class="comments-text">
	    	<%= link_to "#{comment.user.name}", user_path(comment.user.id) %> :
	    	<%= comment.content %>
	    	<% if comment.user == current_user %>
	    		/ <%= link_to '削除', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %>
	    	<% end %>
		</p>
	  <% end %>
	<% end %>
</div>
