<div class="body">
	<div class="container">
		<div class="top col-md-offset-3 col-md-6">
			<div class="row">
				<h1> Welcome to
					<span class="glyphicon glyphicon-book"><strong>Bookers</strong>!!</span>
				</h1>

				<h5>In
					<span class="glyphicon glyphicon-book"><strong>Bookers</strong></span>
				</h5>
				<h5>you can share and exchange your opinions , inpressions , and emotions</h5>
				<h5>about varioius books!</h5>
			</div>
		</div>
	</div>
</div>