<div class="container">
	<div class="row">
		<div class="mv">
			<div class="mv-content">
				<h2>Let's Share photos and videos <br>
					from many countries!!!
				</h2>
				<p class="mv-text">
					<h5>
						When I was a backpacker, it was unknown <br>
						whether I had a visa, vaccine, or tour route to go to a country <br>
						with little information far from Japan.<br>
						I listened to various people and browsed blogs,<br>
						but I was still very anxious.<br>
						In addition, there was little information on SNS and books,<br>
						but I was worried about what other spots <br>
						and interesting places were there.<br>
						So let's share the countries and places you have visited.<br>
					</h5>
				</p>

				<p class="mv-text-mid">
				<h4>
					I hope it will be the key to your next trip… <br>
				</h4>
				</p>

				<p class="mv-text-fin">
				<h4>
					<button type="button" class="btn btn-default btn-lg active">
						<%=link_to " Let's NewPost ", new_post_path %>
					</button>
				</h4>
				</p>
			</div>
		</div>
	</div>
</div>
