
<div class="search-form">
  <%= form_tag(search_path, method: :get) do %>
    <p class="search_text">Vaccines</p>
    <p class="search_text"><%= collection_select(:vaccine, :id, Vaccine.all, :id, :name,:include_blank => '指定なし') %></p>
    <p class="search_bottun"><%= submit_tag "検索" %></p>
  <% end %>
</div>