<div class="container"> 　　
	<div class="row">
    	<div class="col-sm-10 col-sm-offset-1">
    		<div id="slide">
    			<div class="image1"></div>
    			<div class="image2"></div>
    			<div class="image3"></div>
    			<div class="image4"></div>
    			<div class="image5"></div>
    			<div class="image6"></div>
    			<div class="image7"></div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<% @posts.each do |post| %>
	    	<div class="box">
				<%= link_to attachment_image_tag(post, :image, :fill, 260, 260,format: 'jpeg',
				fallback: "no_image.png",size: "260x260" ), post_path(post.id) %>
				<%=link_to Country.find(post.country_id).country , post_path(post.id) %>
			</div>
		<% end %>
    </div>
    <div class="col-sm-10 col-sm-offset-1" style="text-align:center; padding:20px;">
                <%= paginate @posts, class: "paginate" %>
    </div>
</div>
