/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// sign-in,sign-up
.sign-title {
	margin-top: 20px;
}
.sign-field {
	margin: 30px;
}
.sign-actions{
	padding-top: 30px;
}

// post.index
.box {
	width:292px;
	height: 292px;
	float: left;
  	padding: 10px;
  	text-align: center;
}

// post.show
.video {
	margin-top: 20px;
}
.text {
	margin: 20px;
	border-bottom: 1px solid black;
}
.show-content {
	padding: 10px;
}

// post.new .edit
.edit-picture {
	margin-top: 40px;
}
.edit-content {
	margin-top: 100px;
	.edit-text {
		margin: 20px;
	}
}
.edit-action {
	float: center;
	margin-top: 30px;
}


