// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// user.show
.user-box {
	width:400px;
	height: 400px;
  	text-align: center;
}
.user-box:nth-child(odd){
	float:left;
}
.user-box:nth-child(even){
	float:right;
}
.user-content {
	width: 840px;
	margin: 0 auto;
}